.Automatisation {
    width: 100%;
    color: black;
    background-color: white;
  }
  .Automatisation .container {
    max-width: 1140px;
    margin: 0 auto;
  }
  .Automatisation .titre {
    text-align: center;
  }
  
  .Automatisation .titre h1 {
    color: white;
  }
  
  .Automatisation .barre {
    background-color: #6870e0;
    color: white;
  }
  
  .Automatisation .colore {
    height: 85vh;
    width: 100%;
    background-color: #262935;
  }
  
  .Automatisation .boton {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 75px;
  }
  
  .Automatisation .step {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .Automatisation .list {
    background-color: #262935;
    color: white;
    display: flex;
    padding: 20px 10px;
    position: relative;
    z-index: 10;
  }
  
  .Automatisation .item {
    padding: 0 20px;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    min-width: 170px;
    position: relative;
  }
  
  .item + .item:after {
    content: "";
    position: absolute;
    left: 0;
    top: 19px;
    background: #6870e0;
    width: 100%;
    height: 2px;
    transform: translateX(-50%);
    z-index: -10;
    border: 1px dashed #6870e0;
  }
  
  .progress-count {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-weight: 600;
    margin: 0 auto;
    position: relative;
    z-index: 10;
    color: transparent;
  }
  
  .progress-counte {
    height: 75px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-weight: 600;
    margin: 0 auto;
    position: relative;
    z-index: 10;
    color: transparent;
  }
  .progress-count:after {
    content: "";
    height: 60px;
    width: 66px;
    background: #6870e0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: -10;
  }
  
  .progress-counte:after {
    content: "";
    height: 60px;
    width: 66px;
    background: #6870e0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: -10;
  }
  .progress-count:before {
    content: "";
    height: 10px;
    width: 20px;
    border-left: 3px solid #fff;
    border-bottom: 3px solid #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -60%) rotate(-45deg);
    transform-origin: center center;
  }
  
  .progress-counte:before {
    content: "";
    height: 10px;
    width: 20px;
    border-left: 3px solid #fff;
    border-bottom: 3px solid #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -60%) rotate(-45deg);
    transform-origin: center center;
  }
  .Automatisation .icon {
    font-size: 25px;
  }
  .progress-label {
    font-size: 14px;
    font-weight: 600;
    margin-top: -40px;
  }
  
  .current-item .progress-count:before,
  .current-item ~ .item .progress-count:before {
    display: none;
  }
  
  .current-item ~ .item .progress-label {
    opacity: 0.5;
  }
  .current-item .progress-count:after {
    background: #fff;
    border: 2px solid #6870e0;
  }
  .current-item .progress-count {
    color: #6870e0;
  }
  .Automatisation .espace {
    display: flex;
    justify-content: center;
  }
  .Automatisation .carrelage {
    height: 250px;
    width: 280px;
    border: 1px solid #262935;
  }
  .Automatisation .monTitre {
    text-align: center;
    color: #6870e0;
  }
  
  .Automatisation .monPara {
    text-align: center;
    color: #fff;
    font-size: 1rem;
  }
  .Automatisation .etpe {
    height: 40px;
    width: 150px;
    border: 1px solid #6870e0;
    border-radius: 20px;
    background-color: #6870e0;
    color: white;
    cursor: pointer;
  }
  .Automatisation .etpe1 {
    height: 40px;
    width: 150px;
    border: 1px solid #6870e0;
    border-radius: 20px;
    background-color: #262935;
    color: #6870e0;
    cursor: pointer;
  }
  
  .Automatisation .etpe1:hover {
    background-color: #6870e0;
    color: white;
  }
  
  /* DEUXIEME PARTIE */
  .Automatisation .separe {
    display: flex;
    justify-content: space-between;
  }
  .Automatisation .carre {
    height: 600px;
    width: 600px;
    /* border: 1px solid red; */
  }
  .Automatisation .carre img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .Automatisation .tire {
    text-align: center;
  }
  .Automatisation .loi {
    display: flex;
    justify-content: center;
  }
  .Automatisation .par {
    height: 150px;
    width: 500px;
  }
  
  /* TROISIEME PARTIE */
  .Automatisation .send {
    height: 63vh;
    width: 100%;
    border: 1px solid #6870e0;
    background-color: #6870e0;
    margin-top: 10px;
  }
  .Automatisation .premiText {
    margin-top: 20%;
  }
  
  .Automatisation .misApart h1 {
    color: white;
  }
  
  .Automatisation .paragraphe p {
    color: white;
    align-items: center;
  }
  
  .Automatisation .etoile {
    display: flex;
  }
  
  .Automatisation .etoile p {
    color: white;
  }
  .Automatisation .flax {
    display: flex;
    justify-content: space-evenly;
  }
  
  .Automatisation .cool {
    display: flex;
    gap: 30px;
  }
  .Automatisation .caro {
    height: 200px;
    width: 300px;
    border: 1px solid white;
    display: flex;
    justify-content: space-evenly;
    border-radius: 10px;
    background-color: white;
  }
  .Automatisation .caro .second p {
    margin: 0;
  }
  .Automatisation .second {
    margin-top: 5px;
    height: 140px;
    width: 270px;
    border: 1px solid #f5f5f5;
    background-color: #f5f5f5;
    border-radius: 10px;
  }
  
  .Automatisation .forImg {
    display: flex;
    justify-content: space-evenly;
  }
  .Automatisation .loop {
    display: flex;
  }
  
  .Automatisation .cors {
    display: flex;
  }
  .Automatisation .photo img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }
  
  .Automatisation .ico {
    font-size: 25px;
    color: #6870e0;
  }
  
  .Automatisation .bout {
    height: 45px;
    width: 100%;
    margin-top: 1.3rem;
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
  }
  .Automatisation .search {
    display: flex;
    align-items: center;
  }
  
  .Automatisation .fin {
    display: flex;
    gap: 15px;
  }
  .Automatisation .recher {
    height: 30px;
    width: 190px;
    border: 1px solid #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    background-color: #f5f5f5;
  }
  
  .Automatisation .recher input {
    height: 30px;
    border: none;
    border-radius: 20px;
  }
  
  .Automatisation .ic {
    color: #6870e0;
  }
  
  @media screen and (max-width: 1012px) {
    .Automatisation .espace {
      flex-wrap: wrap;
    }
  
    .Automatisation .colore {
      height: auto;
    }
  
    .Automatisation .separe {
      flex-direction: column;
      align-items: center;
      gap: 5px;
    }
  
    .Automatisation .send {
      height: auto;
    }
  }
  @media screen and (max-width: 630px) {
    .Automatisation .colore {
      height: auto;
    }
  }
  @media screen and (max-width: 998px) {
    .Automatisation .list {
      flex-wrap: wrap;
      z-index: auto;
    }
    .Automatisation .flax {
      flex-direction: column;
      align-items: center;
    }
    .Automatisation .cool {
      flex-direction: column;
    }
  }
  
  @media screen and (max-width: 1366px) {
    .Automatisation .send {
      height: auto;
    }
  }
  