:root {
    --ma-couleur-principale: #1E2029;
    --ma-couleur-bouton: #6870e0;
    --mon--autre--couleur: #b6b9e5;
    --ma--couleur--text: #ffff;
  }

  .profile{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-left: 15%;
  }
.profileBar{
    height: 85vh;
    width: 20%;
    border: 1px solid white;
}

.profileBar2{
    height: 95vh;
    width: 70%;
    border: 1px solid white;
}
.profileImage{
    display: flex;
    justify-content: center;
    align-items: center;
}
.profileImage img{
    height: 150px;
    width: 150px;
    border-radius: 50%; 
}

.profilName h3, p {
    display: flex;
    text-align: center;
    justify-content: center;
}

.profilPart{
    width: 100%;
    height: 50px;
    border: 1px solid white;
}

.profileTitle h1{
    text-align: center;
    text-decoration: underline;
    margin-top: 20px;
}
.profilePourInput{
    margin-top: 20px;
}
.profilGrandInput{
    display: flex;
    justify-content: space-around;
}

.inputUn{
    display: flex;
    flex-direction: column;
}

.inputUn input{
    width:350px;
    height: 50px;
}