.SendMessage {
  width: 100%;
  background-color: var(--ma--couleur--text);
  padding: 4rem ;
  display: flex;
}
.part-left{
  width: 50%;
  color: var(--ma-couleur-principale);
  text-align: center;
}
.part-left .title{
  color: var(--ma-couleur-bouton);
  font-weight: 700;
  font-size: 1.5rem;
  margin-top: 2rem;
}
.part-left .card-body{
  margin-top: 2rem;
}
.part-right{
  width: 50%;
}
.cardImg{
  height: auto;
  max-width: 80%;
  margin: auto;
}
.cardImg img{
  border-radius: 1rem;
}

.part-left span {
  background-color: #6870e0;
  padding: 0.5rem 1rem;
  color: #fff;
  font-size: 1.5rem;
}
.part-left .fil{
  margin-top: 2rem;
}
.filcard h3 {
  margin-bottom: 2rem;
}
.cardFilImg img {
  width: 70%;
  height: 400px;
  border-radius: 1rem;
}

@media (max-width: 1180px) {
  .SendMessage .col-sm-6 {
    width: 100%;
  }
  .SendMessage .col-sm-4 {
    width: 40%;
  }
}
@media (max-width: 720px) {
  .SendMessage .col-sm-4 {
    width: 100%;
  }
}
@media (max-width: 653px) {
  .filcard h3 {
    font-size: 1rem;
  }
  .filcard p {
    font-size: 0.8rem;
  }
  .SendMessage h5 {
    font-size: 1.1rem;
  }
  .SendMessage {
    padding: 2rem;
  }
  .dashEmoji .mb-5 {
    margin-bottom: 1rem !important;
  }

  .dashEmoji .mt-5 {
    margin-top: 1rem !important;
  }
}
