header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 100px;
  transition: 0.1s;
  background-color: var(--ma-couleur-principale);
}
.logo {   
  width: 4rem;
  height: 3.5rem;
  border-radius: 1rem;
}
.logo img {
  height: 100%;
  width: 100%;
  border-radius: 1rem;
}

.navbar {
  display: flex;
  column-gap: 3rem;
  font-size: 1rem;
  margin-right: 6rem;
}

.navbar li {
  position: relative;
}
.navbar a {
  font-size: .8rem;
  font-weight: 500;
  color: white;
  text-decoration: none;
}

.navbar a::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--ma-couleur-bouton);
  position: absolute;
  bottom: -4px;
  left: 0;
  transition: 0.4s all linear;
}

.navbar a:hover::after {
  width: 100%;
}
.navbar .Acceuil-active::after {
  width: 100%;
}
#menu-icon {
  font-size: 24px;
  cursor: pointer;
  z-index: 1000001;
  display: none;
}

#burger {
  display: none;
  cursor: pointer;
  font-size: 2.5rem;
  color: var(--ma-couleur-bouton);
  margin-right: 2rem;
}
#close {
  display: none;
  cursor: pointer;
  font-size: 2.5rem;
  color: var(--ma-couleur-bouton);
  margin-right: 2rem;
}

@media (max-width: 768px) {
  #burger {
    display: block;
  }
  .active #burger:before {
    content: \2715;
  }
  .navbar {
    position: fixed;
    top: 10%;
    left: -100%;
    flex-direction: column;
    background-color: var(--ma-couleur-bouton);
    width: 100%;
    height: 40rem;
    text-align: center;
    transition: 0.25s;
    padding: 5rem;
  }
  .navbar ul {
   margin-top: 5rem;
  }
  .navbar li {
    padding: 2px 0;
  }
  .navbar li:hover {
    background-color: var(--mon--autre--couleur);
   
  }
  .active {
    left: 0;
  }
  .navbar a {
    font-size: 1.2rem;
  }
}
