@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
.Sidebar .bx-search {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #1d1b31;
  color: #fff;
}
.Sidebar li a:hover {
  background: #fff;
}
.Sidebar li a .links_name {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
/* .Sidebar .bx-search:hover {
  background: #1d1b31;
  color: #fff;
} */

.Sidebar li a .links_name {
  opacity: 1;
  pointer-events: auto;
}
.Sidebar .bx-search:hover {
  background: #fff;
  color: #11101d;
}

.Sidebar li a {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #11101d;
}
.Sidebar li a:hover .links_name,
.Sidebar li a:hover i {
  transition: all 0.5s ease;
  color: #11101d;
}
.Sidebar li i {
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}

.Sidebar i {
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  line-height: 60px;
  text-align: center;
}
.Sidebar li:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}

.Sidebar .nav-list {
  margin-top: 20px;
  height: 100%;
}
.Sidebar li .tooltip {
  display: none;
}
.Sidebar li {
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.Sidebar li .tooltip {
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  background: #fff;
  padding: 6px 12px;
  color: #11101d;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 900;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0s;
}
.Sidebar input {
  color: white;
  font-size: 15px;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  font-weight: 400;
  background: #1d1b31;
}

.Sidebar input {
  padding: 0 20px 0 50px;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}


.Sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 250px;
  background: #11101d;
  padding: 6px 14px;
  transition: all 0.5s ease;
  overflow: hidden;
}
.Sidebar.open {
  width: 78px;
}

.Sidebar .logo-details i:nth-child(1){
  opacity: 1;
}


.Sidebar .logo-details .logo_name {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  transition: all 0.5s ease;
}

.Sidebar.open .logo-details .logo_name{
  display: none;
}

.Sidebar .logo-details #btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}

.Sidebar .logo-details {
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.Sidebar .logo-details #btn {
  text-align: right;
  /* width: 100%; */
}

.Sidebar .logo-details .icon {
  opacity: 0;
  transition: all 0.5s ease;
}

.Sidebar li{
  width: 100%;
}

.Sidebar li.active{
  border-radius: 10px;
  background-color: #fff;
}

.Sidebar.open ul li a span{
  color: #11101d;
}

.Sidebar li a {
  color: #11101d;
  width: 100%;
}

.Sidebar li.active a{
  background-color: #fff;
  width: 100%;
}

.Sidebar li.active a span{
  color: #11101d;
  width: 100%;
}

.Sidebar li.active a i{
  color: #11101d;
}


.Sidebar li a .links_name {
  color: #ffffff;
}
.Sidebar li a i {
  color: #ffffff;
}

.card {
  background-color: #fff;
  color: #845ec8;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  width: 100%;
}

.card-title {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}

.card-text {
  font-size: 0.8rem;
  text-align: center;
}



.main{
  position: absolute;
  width: calc(100% - 250px);
  height: 100%;
  left: 250px;
  transition: 0.5s;
}

.main.open{
  position: absolute;
  
  width: calc(100% - 78px);
  left: 78px;
}

