@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  /* background-color: #282c34; */
  background-color: #ffffff;
  color: var(--blue);
  font-family: "Roboto", sans-serif;
}
