@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  background-color: #282c34;
  color: white;
  font-family: 'Quicksand', sans-serif;
}


.Sidebar {
  /* display: none; */
  background-color: red;
}




